<div id="headdiv">
  <div id="name">
    <h1>Branden Staack</h1>
  </div>
  <h3>webdev in training</h3>
</div>

<p>some random information</p>

<h5>Projects</h5><h5>Client Sites</h5>

<ul id="my-links">
  <h3>My Links, come at me</h3>
  <li>google</li>
  <li>linkedin</li>
  <li>gmail</li>
  <li>twitter</li>
  <li>instagram</li>
  <li>github</li>
  <li>youtube</li>
</ul>
