<div class="head">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 name">
        <div class="well" id="headname">
          <h1>Branden Staack</h1>
          <div id="webdev">
            <i class="fa fa-code fa-2x" aria-hidden="true"> webdev in training</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2"
        <ul id="contact">
          <li><a class="btn btn-info" href="https://plus.google.com/+brandenstaack" aria-label="google">
            <i class="fa fa-google-plus fa-4x icons" aria-hidden="true"></i></a></li>
          <li><a class="btn btn-info" href="https://www.linkedin.com/in/branden-staack-51a27b138/" aria-label="linkedin">
            <i class="fa fa-linkedin fa-4x icons" aria-hidden="true"></i></a></li>
          <li><a class="btn btn-info" href="https://github.com/hondaguy520" aria-label="github">
            <i class="fa fa-github fa-4x icons" aria-hidden="true"></i></a></li>
          <li><a class="btn btn-info" href="https://http://stackoverflow.com/users/7638266/branden" aria-label="stackoverflow">
            <i class="fa fa-stack-overflow fa-4x icons" aria-hidden="true"></i></a></li>
          <li><a class="btn btn-info" href="https://twitter.com/brandenstaack" aria-label="twitter">
            <i class="fa fa-twitter fa-4x icons" aria-hidden="true"></i></a></li>
          <li><a class="btn btn-info" href="http://instagram.com/bstaack" aria-label="instagram">
            <i class="fa fa-instagram fa-4x icons" aria-hidden="true"></i></a></li>
          <li><a class="btn btn-info" href="https://youtube.com/hondaguy520" aria-label="youtube">
            <i class="fa fa-youtube fa-4x icons" aria-hidden="true"></i></a></li>
          <li><a class="btn btn-info" href="https://mail.google.com/mail/?view=cm&fs=1&to=bsta520@gmail.com" aria-label="gmail">
            <i class="fa fa-envelope fa-4x icons" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>
