<div class="head">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-4 name">
        <div id="headname"></div>
        <h1>Branden Staack</h1><br />
          <i class="fa fa-code fa-3x" aria-hidden="true"></i>
          <h3 style="margin-left: 50px">webdev in training</h3>
      </div>
    </div>
  </div>
</div>



<p>some random information</p>

<h5>Projects</h5><h5>Client Sites</h5>

<ul id="my-links">
  <h3>My Links, come at me</h3>
  <li>google</li>
  <li>linkedin</li>
  <li>gmail</li>
  <li>twitter</li>
  <li>instagram</li>
  <li>github</li>
  <li>youtube</li>
</ul>
