<div class="row">
  <div class="jumbotron col-sm-6 col-md-4 col-md-offset-4">
    <h1>Projects</h1>
    <p>Below are any projects I have worked on for various online classes and/or
      coding bootcamps</p>
    <p><a class="btn btn-primary btn-lg" href="https://codepen.io/hondaguy520/" target="_blank" role="button">codepen profile</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Wikipedia Viewer</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Show Local Weather</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Random Quote Machine</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>
