<div class="row">
  <div class="jumbotron col-sm-6 col-md-4 col-md-offset-4">
    <h1>Projects</h1>
    <p>Below are any projects I have worked on for various online classes and/or
      coding bootcamps.  In each project I try to develop and learn a new skill/technology.
      some of my early ones they may just consist of a different CSS Framework.</p>
    <p><a class="btn btn-primary btn-lg" href="https://codepen.io/hondaguy520/" target="_blank" role="button">codepen profile</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "wiki.png" %>
      <div class="caption">
        <h3>Wikipedia Viewer</h3>
        <p>At the time of my developement career this project was by far the most challenging.  Mainly becuase the Wikipedia
          API is large and has a lot of variables.  After a few days of research and googling I started to realize what was
          needed.  It was extremely satisfying pulling this one off and I'm sure it will seem so simple as I continue on my Web Development path.</p>
        <p><a href="https://codepen.io/hondaguy520/full/xrzeej/" target="_blank" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "weather.png" %>
      <div class="caption">
        <h3>Show Local Weather</h3>
        <p>Second time working with API's and JSON.  This site also required getting location and using that in the
          Dark Sky API.  Thier JSON was also quite a bit more populated than the previous site I developed.</p></br>
        <p><a href="https://codepen.io/hondaguy520/full/BZrBdY/" target="_blank" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "quote.png" %>
      <div class="caption">
        <h3>Random Quote Machine</h3>
        <p>This was my first actual web application I have coded.  This was for the freecodecamp front end development course.
          Also it was my first time using an API and JSON.  As you can see I had to learn 2 different API's to get this site
          functioning properly.</p></br>
        <p><a href="https://codepen.io/hondaguy520/full/LLdPzN/" target="_blank" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>
