/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

*{
  color: #57C1BD;
}

body{
  background-color: #333333;
}

.head{
  background-image: image-url("mtn.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: auto;
  height: 400px;
}

#headname{
  border: 10px solid white;
  border-radius: 15px;
  background-color: white;
  opacity: .75;
}

h1, #webdev{
  color: black;
  text-align: center;
}

.name{
  top: 100px;
}

ul, li{
  list-style: none;
  display: inline;
  color: black;
}

.icons{
  color: black;
}

.btn{
  margin-top: 3px;
}

//bounce animation
.pulsate-fwd {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
	-moz-animation: pulsate-fwd 0.5s ease-in-out infinite both;
	animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

//ken burns effect
.bg-pan-top {
	-webkit-animation: bg-pan-top 15s both;
	-moz-animation: bg-pan-top 15s both;
	animation: bg-pan-top 15s both;
}

.pause {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused;
}
